@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Georgia";
  font-display: swap;
  src: url("../assets/fonts/Georgia.woff2") format("woff2"), url("../assets/fonts/Georgia.woff2") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Arial";
  font-display: swap;
  src: url("../assets/fonts/ArialMT.woff2") format("woff2"), url("../assets/fonts/ArialMT.woff") format("woff");
}

:root {
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-light-xl: #ffffff;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;
  --start-screen-gradient-background: #211f20;
  --gradient: radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%);

  --font-family: Georgia, 'Times New Roman', Times, serif;
  --second-family: Arial, sans-serif;
  --h2: 44px/1.3 var(--font-family);
  --pagargaph-l: 15px/1.6 var(--second-family);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

body.no-scroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

header,
footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.start {
  background: url("../assets/img/noise_transparent@2x.png"), var(--gradient), var(--start-screen-gradient-background);
  background-position: center;
  padding: 30px 0 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo h1 {
  display: flex;
  flex-direction: column;
}

.header__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  margin-bottom: 10px;
  transition: opacity 0.3s ease-in;
}

.header__subtitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: var(--color-light-xl);
  text-align: center;
}

.header__nav-button {
  display: none;
}

.nav {
  transform: none;
  transition: none;
}

.nav__list {
  display: flex;
  padding-bottom: 2px;
}

.nav__item:not(:last-child) {
  margin-right: 36px;
}

.nav__item-link {
  display: block;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
  transition: color 0.3s ease-in;
}

.nav__item-link:hover {
  color: var(--color-light-s);
}

.nav__item-link.active {
  pointer-events: none;
}

.nav__item-link.active {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-light-s);
  border-bottom: 3px solid var(--color-primary);
}

.start__intro {
  padding: 90px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.start__text {
  max-width: 460px;
  width: 39%;
  padding-bottom: 79px;
}

.start__title {
  font: var(--h2);
  color: var(--color-light-xl);
  max-width: 310px;
  margin-bottom: 42px;
} 

.start__descr {
  font: var(--pagargaph-l);
  color: var(--color-dark-s);
  margin-bottom: 41px;
}

.start__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 15px;
  width: 207px;
  height: 52px;
  background-color: var(--color-primary);
  font-family: var(--font-family);
  color: var(--color-dark-3xl);
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  transition: background-color 0.3s ease-in;
}

.start__link:hover {
  background-color: var(--color-primary-light);
}

.start__image {
  width: 698px;
  height: auto;
  object-fit: contain;
}

.about {
  padding: 80px 0 100px;
}

.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__image {
  min-width: 300px;
  margin-right: 120px;
}

.about__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about__title {
  max-width: 370px;
  margin-bottom: 25px;
}

.about__text {
  max-width: 430px;
}

.about__descr {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-xl);
}

.about__descr:not(:last-child) {
  margin-bottom: 25px;
}

.pets {
  background-color: var(--color-light-l);
  padding: 80px 0 100px;
}

.pets .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pets__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
  max-width: 400px;
  margin: 0 auto 60px;
}

.pets__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 990px;
  margin-bottom: 60px;

}

.pets__item {
  background-color: var(--color-light-s);
  border-radius: 9px;
  overflow: hidden;
  transition: all 0.3s ease-in;
  min-width: 270px;
  height: 435px;
}

.pets__item:hover {
  background: var(--color-light-xl);
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.pets__item:hover .pets__more-btn {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.pets__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pets__image {
  width: 270px;
  height: 270px;
  overflow: hidden;
  margin-bottom: 29px;
}

.pets__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pets__name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
  margin-bottom: 31px;
}

.pets__more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  padding: 13px 43px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.pets__more-btn:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
}

.slider__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 52px;
  width: 52px;
  height: 52px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  margin-bottom: 60px;
  cursor: pointer;
  pointer-events: all;
  transition: all 0.3s ease-in;
}

.slider__btn:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.slider__btn.inactive {
  border: 2px solid var(--color-dark-s);
  pointer-events: none;
}

.slider__btn.inactive svg path{
  fill: var(--color-dark-s);
}

.slider__btn--next {
  transform: rotate(180deg);
  margin-left: 10px;
}

.slider__btn--prev {
  margin-right: 10px;
}

.pets__link {
  display: block;
  margin: 0 auto;
  border-radius: 100px;
  padding: 15px 25px;
  width: 261px;
  height: 52px;
  background-color: var(--color-primary);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-3xl);
  transition: background-color 0.3s ease-in;
}

.pets__link:hover {
  background-color: var(--color-primary-light);
}

.help {
  padding: 80px 0 100px;
}

.help__title {
  max-width: 310px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 59px;
}

.help__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px 120px;
}

.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__image {
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-bottom: 30px;
}

.help__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.help__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}

.donation {
  background-color: var(--color-light-l);
  padding: 80px 0 100px;
}

.donation .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.donation__image {
  max-width: 505px;
  height: 261px;
}

.donation__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.donation__content {
  max-width: 380px;
}

.donation__title {
  max-width: 300px;
  margin-bottom: 18px;
}

.donation__subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin-bottom: 20px;
}

.donation__card {
  display: block;
  border-radius: 9px;
  padding: 10px;
  padding-left: 60px;
  width: 349px;
  height: 43px;
  background: var(--color-primary) url("./img/svg/credit-card.svg") 15px center no-repeat;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin-bottom: 20px;
}

.donation__text {
  font-family: var(--second-family);
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-dark-m);
}


.footer {
  background: url("../assets/img/noise_transparent@2x.png"), var(--gradient), var(--start-screen-gradient-background);
  background-position: center;
  padding: 40px 0 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  padding-top: 17px;
}

.footer__contacts--links {
  max-width: 279px;
}

.footer__contacts--address {
  max-width: 302px;
  gap: 37px;
}

.footer__title {
  color: var(--color-light-xl);
  margin-bottom: -5px;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__link {
  position: relative;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  padding-left: 41px;
  transition: opacity 0.3s ease-in;
}

.footer__link:hover {
  opacity: 0.5;
}

.footer__contacts--links .footer__link {
  padding-left: 60px;
}

.footer__link::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 32px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.footer__link--email::before {
  background: url("./img/svg/icon-email.svg") center no-repeat;
}
.footer__link--tel::before {
  background: url("./img/svg/icon-phone.svg") center no-repeat;
}

.footer__link--address-1::before,
.footer__link--address-2::before {
  width: 22px;
  background: url("./img/svg/icon-marker.svg") center no-repeat;
}

.footer__image {
  min-width: 300px;
  height: 310px;
  overflow: hidden;
}

.footer__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* INTERNAL PAGES */

.internal-page .header {
  padding: 30px 0;
}

.internal-page .header__title:hover {
  opacity: 0.5;
}

.internal-page .header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;  
}

.internal-page .header__title {
  color: var(--color-dark-l);
}

.internal-page .header__subtitle {
  color: var(--color-dark-3xl);
}

.internal-page .nav__item-link {
  color: var(--color-dark-l);
}

.internal-page .nav__item-link.active,
.internal-page .nav__item-link:hover  {
  color: var(--color-dark-3xl);
}

.internal-page .pets .container {
  padding: 0;
}

.internal-page .pets .pets__list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px 40px;
  max-width: 1200px;
}

.pag {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.pag__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-3xl);
  border: 2px solid var(--color-primary);
  transition: all 0.3s ease-in;
}

.pag__link:hover {
  background: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.pag__link.disabled {
  color: var(--color-dark-s);
  border: 2px solid var(--color-dark-s);
  pointer-events: none;
}

.pag__link--curr {
  background: var(--color-primary);
  pointer-events: none; 
}

/* MEDIA QUERIES */

@media (max-width: 1280px) {
  .pets__list {
    max-width: 580px;
    overflow: hidden;
    gap: 40px;
  }
}

@media (max-width: 1230px) {
  .internal-page .pets .pets__list {
    grid-template-columns: repeat(3, 270px);
    justify-content: center;
  }
}

@media (max-width: 1130px) {
  
  .container {
    padding: 0 30px;
  }

  .start__intro {
    flex-direction: column;
    padding-top: 61px;
  }

  .start__title {
    margin-bottom: 40px;
  }

  .start__text {
    min-width: 65%;
    padding-bottom: 100px;
  }

  .start__descr {
    margin-bottom: 42px;
  }

  .start__image {
    margin-top: auto;
    width: 569px;
    margin-left: 136px;
  }

  .start__link {
    margin: 0 auto;
  }

  .about .container {
    justify-content: space-evenly;
    gap: 20px;
  }

  .about__text {
    margin-bottom: 79px;
  }

  .about__image {
    margin-right: 0;
  }
  
  .slider {
    max-width: 708px;
  }

  .help__list {
    gap: 55px 60px;
  }
  
  .help__item {
    min-width: 170px;
  }

  .donation .container {
    flex-direction: column-reverse;
    gap: 0;
  }

  .donation__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 59px;
  }
  
  .donation__title {
    margin-bottom: 20px;
  }

  .footer {
    padding-top: 31px;
  }

  .footer .container {
    padding: 0 64px;
    flex-wrap: wrap;
    gap: 69px 40px;
  }

  .footer__contacts {
    padding-top: 0;
  }

  .footer__contacts--links,
  .footer__contacts--address {
    min-width: 45%;
  }

  .footer__image {
    margin: 0 auto;
  }

  .internal-page .pets {
    padding: 80px 0 76px;
  }

  .internal-page .pets .pets__list {
    grid-template-columns: repeat(2, 270px);
    margin-bottom: 42px;
    max-height: 1362px;
    overflow-y: hidden;
  }

  .internal-page .pets .pets__title {
    margin-bottom: 30px;
    padding: 0 5px;
    max-width: 410px;
  }
}

@media (max-width: 800px) {
  .about .container {
    flex-direction: column-reverse;
    gap: 0;
  }

  .donation__subtitle {
    margin-bottom: 19px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }

  .title {
    font-size: 25px;
    line-height: 1.28;
    margin: 0 auto;
  }

  .header {
    padding: 0 10px;
  }

  .internal-page .header {
    padding: 30px 10px;
  }

  .header__nav-button {
    display: block;
    width: 30px;
    height: 22px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in;
    z-index: 10;
  }

  .header__nav-button.is-active {
    transform: rotate(90deg);
  }

  .header__nav-button span {
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--color-primary);
  }

  .header__nav-button span::before,
  .header__nav-button span::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    left: 0;
    background-color: var(--color-primary);
  }

  .internal-page .header__nav-button:not(.is-active) span,
  .internal-page .header__nav-button:not(.is-active) span::before,
  .internal-page .header__nav-button:not(.is-active) span::after {
    background-color: #000000;
  }

  .header__nav-button span::before {
    top: 10px;
  }

  .header__nav-button span::after {
    bottom: 10px;
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    background-color: var(--color-dark-3xl);
    transform: translateX(1000px);
    transition: transform 0.5s ease-in;
  }

  .nav.is-active {
    transform: translateX(0);
    transition: transform 0.5s ease-in;
    z-index: 1;
  }

  body:has(.nav.is-active)::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }

  .nav__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 100px 0;
    height: 100vh;
    max-height: 823px;

  }

  .nav__item:not(:last-child) {
    margin: 0;
  }

  .nav__item-link,
  .nav__item-link.active {
    font-size: 32px;
    line-height: 1.6;
  }

  .internal-page .nav__item-link,
  .nav__item-link,
  .internal-page .nav__item-link:hover,
  .nav__item-link:hover {
    color: var(--color-dark-s);
  }

  .internal-page .nav__item-link.active,
  .nav__item-link.active {
    color: var(--color-light-s);
  }

  .start__intro {
    padding-top: 60px;
  }

  .start__text {
    min-width: 100%;
    text-align: center;
    padding-bottom: 106px;
  }

  .start__title {
    font-size: 25px;
    line-height: 1.28;
    margin: 0 auto;
    letter-spacing: 1.5px;
    max-width: 200px;
    margin-bottom: 42px;
  }
  
  .start__image {
    margin-left: 39px;
    max-width: 260px;
  }

  .about {
    padding: 42px 0;
  }

  .about__text {
    text-align: justify;
    margin-bottom: 41px;
    padding: 0 15px;
  }
  
  .about__title {
    max-width: 230px;
    text-align: center;
    margin-bottom: 25px;
  }

  .about__descr:not(:last-child) {
    margin-bottom: 22px;
  }

  .about__image {
    max-width: 260px;
    min-width: 260px;
  }

  .pets {
    padding: 42px 0 41px;
  }

  .pets__title {
    margin-bottom: 42px;
  }

  .slider {
    justify-content: center;
  }

  .slider__btn {
    position: absolute;
    bottom: 42px;
    margin-bottom: 0;
  }

  .slider__btn--prev {
    left: 50%;
    transform: translateX(-92px);
    margin-right: 0;
  }

  .slider__btn--next {
    right: 50%;
    transform: translateX(92px) rotate(180deg);
    margin-left: 0;
  }

  .pets__list {
    max-width: 270px;
    margin-bottom: 115px;
    gap: 0;
  }
  
  .pets .pets__image {
    margin-bottom: 30px;
  }

  .help {
    padding: 42px 0 41px;
  }

  .help__title {
    max-width: 250px;
    margin-bottom: 42px;
  }

  .help__list {
    padding: 0 5px;
    gap: 30px;
  }

  .help__item {
    min-width: 130px;
  }

  .help__image {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }

  .help__text {
    font-size: 15px;
  }

  .donation {
    padding: 42px 0 43px;
  }
  
  .donation__title {
    margin: 0 auto;
    text-align: center;
    max-width: 220px;
    margin-bottom: 23px;
  }

  .donation__subtitle {
    text-align: center;
    letter-spacing: 0;
    margin-bottom: 23px;
  }

  .donation__image {
    max-width: 260px;
    height: auto;
  }

  .donation__content {
    max-width: 100%;
    margin-bottom: 43px;
    padding: 0 10px;
  }

  .donation__card {
    width: 281px;
    font-size: 15px;
    line-height: 1.1;    
    margin: 0 auto 20px;
    padding: 14px;
    padding-left: 60px;
  }

  .donation__text {
    text-align: justify;
  }

  .footer {
    padding-top: 29px;
  }

  .footer .container {
    gap: 44px;
    padding: 0 10px;
  }

  .footer__title {
    text-align: center;
  }

  .footer__contacts--links, 
  .footer__contacts--address {
    min-width: 100%;
    align-items: center;
    gap: 47px;
  }

  .footer__contacts--address {
    gap: 42px;
  }

  .footer__image {
    min-width: 260px;
    max-width: 260px;
    height: auto;
    margin-top: 2px;
  }

  .internal-page .pets .pets__list {
    grid-template-columns: auto;
    margin-bottom: 45px;
  }

  .internal-page .pets {
    padding: 42px 0;
  }

  .internal-page .pets .pets__title {
    font-size: 25px;
    line-height: 1.28;
    margin-bottom: 42px;
  }

  .pag {
    gap: 10px;
  }
}

@media (max-width: 479px) {
  .help__list {
    display: grid;
    grid-template-columns: repeat(2, 130px);
  }

  .footer__link--address-1 {
    margin-right: 6px;
  }

  .footer__link--address-2 {
    margin-right: 29px;
  }
}